@media screen and (max-width: 700px){
    .mainflex{
  
        flex-direction: column;
        
    }
    .color1{
        background-color: $color-orange;
        border-radius: 20px 20px 0 0;
    }
    
    .color3{
        background-color: $color-dark;
        border-radius: 0 0 20px 20px;
    }
}